In [30]:
import dhlab.nbtext as nb
import dhlab.module_update as mu
#mu.update('collocations', overwrite=True)
from collocations import urn_coll, collocation
from numpy import log

In [2]:
corpus = nb.book_corpus(title="harry potter%")

In [3]:
corpus

              urn         author                               title  year
0   2014080508099  Rowling, J.K.                        Harry Potter  2011
1   2016082408047  Rowling, J.K.  Harry Potter og fangen fra Azkaban  2005
2   2013061108157  Rowling, J.K.                    Harry Potter 1-4  2001
3   2014061838001  Rowling, J.K.                        Harry Potter  2011
4   2014080508046  Rowling, J.K.                    Harry Potter 1-4  2001
5   2008102200061  Rowling, J.K.    Harry Potter og mysteriekammeret  2000
6   2013062608004  Rowling, J.K.    Harry Potter og halvblodsprinsen  2008
7   2011062705065  Rowling, J.K.    Harry Potter og mysteriekammeret  2003
8   2008090504071  Rowling, J.K.      Harry Potter og de vises stein  1999
9   2014073106069                         Harry Potter og ildbegeret  2005
10  2014091938003  Rowling, J.K.                        Harry Potter  2011
11  2014030406051  Rowling, J.K.    Harry Potter og mysteriekammeret  2011
12  2012111406120  Rowling, J.K.       Harry Potter og Føniksordenen  2011
13  2013061905063  Rowling, J.K.     Harry Potter og dødstalismanene  2007
14  2013072208063  Rowling, J.K.  Harry Potter og fangen fra Azkaban  2011
15  2013120238034  Rowling, J.K.    Harry Potter og halvblodsprinsen  2005
16  2014022806023  Rowling, J.K.      Harry Potter og de vises stein  2011
17  2008112800001  Rowling, J.K.          Harry Potter og ildbegeret  2001
18  2009012804020  Rowling, J.K.    Harry Potter og mysteriekammeret  2002
19  2013082708159  Rowling, J.K.      Harry Potter og de vises stein  2009

In [19]:
nb.pure_urn(corpus)

['2014080508099',
 '2016082408047',
 '2013061108157',
 '2014061838001',
 '2014080508046',
 '2008102200061',
 '2013062608004',
 '2011062705065',
 '2008090504071',
 '2014073106069',
 '2014091938003',
 '2014030406051',
 '2012111406120',
 '2013061905063',
 '2013072208063',
 '2013120238034',
 '2014022806023',
 '2008112800001',
 '2009012804020',
 '2013082708159']

In [271]:
def dist(obs_mean, expected, freq):
    factor = ((freq-1)/(freq))*obs_mean
    ratio = obs_mean/(obs_mean - factor)
    return obs_mean + (expected - obs_mean)/ratio

In [287]:
colls = dict()
for character in "Harry Hermine Humlesnurr Ronny Malfang Slur Gygrid".split():
    colls[character] = urn_coll(character, nb.pure_urn(corpus), before=0, after=10)

In [289]:
frames = dict()
for c in colls:
    frames[c] = nb.frame({'dist':colls[c][1], 'freq':colls[c][0]}).transpose()

In [291]:
for c in frames:
    frames[c]['score'] = dist(frames[c].dist, 5.5, frames[c].freq)

In [301]:
inspect = lambda harry, w: harry.loc[w]

In [314]:
for c in frames:
    print(c, inspect(frames[c]['score'], '.'))

Harry 4.817242112784796
Hermine 4.293839595275936
Humlesnurr 4.454127338628608
Ronny 4.4836871469082
Malfang 4.987145731343453
Slur 4.9554733012878085
Gygrid 4.751209768948576

In [315]:
for c in frames:
    print(c, inspect(frames[c]['score'], ','))

Harry 5.1199713459743
Hermine 5.217811002361413
Humlesnurr 5.0002832234720245
Ronny 5.16845394764243
Malfang 4.749445433099134
Slur 5.095678567808362
Gygrid 4.67481906156315

In [320]:
def check(word):
    return {c:inspect(frames[c]['score'], word) for c in frames if word in frames[c].index}

In [321]:
check ('måpte')

{'Hermine': 1.9,
 'Humlesnurr': 3.625,
 'Ronny': 1.5625,
 'Malfang': 3.863095238095238,
 'Slur': 3.25}

In [323]:
check ('lengsel')

{'Gygrid': 5.5}

In [324]:
check ('.')

{'Harry': 4.817242112784796,
 'Hermine': 4.293839595275936,
 'Humlesnurr': 4.454127338628608,
 'Ronny': 4.4836871469082,
 'Malfang': 4.987145731343453,
 'Slur': 4.9554733012878085,
 'Gygrid': 4.751209768948576}

In [325]:
check ('slo')

{'Harry': 5.125,
 'Hermine': 5.8589743589743595,
 'Humlesnurr': 5.74,
 'Ronny': 2.35,
 'Malfang': 6.554166666666666,
 'Slur': 3.0974025974025974,
 'Gygrid': 2.878846153846154}

In [327]:
check ('sint')

{'Harry': 5.5,
 'Humlesnurr': 4.048611111111111,
 'Malfang': 4.888516746411484,
 'Slur': 5.41,
 'Gygrid': 4.664285714285714}

In [332]:
check('bistert')

{'Harry': 1.6499999999999997,
 'Hermine': 1.45,
 'Humlesnurr': 4.25,
 'Ronny': 8.125,
 'Slur': 5.5,
 'Gygrid': 2.125}

In [343]:
show = lambda harry, cutoff: harry[harry.freq > cutoff].sort_values(by='score')

In [344]:
show(frames['Harry'][frames['Harry']['dist']> 8], 5)[:20]

                       dist  freq     score
ansiktsuttrykkene  8.071429   8.0  7.750000
dukke              8.125000   7.0  7.750000
TAPTE              8.250000   6.0  7.791667
2                  8.187500   7.0  7.803571
gammel             8.100000   9.0  7.811111
$                  8.187500   8.0  7.851562
berg               8.071429  12.0  7.857143
blinkende          8.333333   6.0  7.861111
Lykke              8.333333   6.0  7.861111
Laget              8.333333   6.0  7.861111
byksende           8.285714   7.0  7.887755
anledning          8.090909  13.0  7.891608
Nicolas            8.066667  15.0  7.895556
2000               8.111111  13.0  7.910256
advarsel           8.222222   9.0  7.919753
avbrutt            8.222222   9.0  7.919753
Tro                8.187500  11.0  7.943182
blunke             8.074074  21.0  7.951499
Gurgel             8.030702  52.0  7.982034
Hiet               8.285714  10.0  8.007143

In [300]:
inspect(frames['Humlesnurr'], 'Ronny')

dist      6.193484
freq     88.000000
score     6.185603
Name: Ronny, dtype: float64