In [30]:
import dhlab.nbtext as nb
import dhlab.module_update as mu
#mu.update('collocations', overwrite=True)
from collocations import urn_coll, collocation
from numpy import log

In [349]:
collocation??

In [388]:
frq, dc, dst = collocation('løper', corpus='avis', yearfrom=1990, yearto=2000, before=0, after=10)

In [389]:
løper = nb.frame({'freq': frq, 'doc':doc, 'dist':dst}).transpose()

In [390]:
løper['score'] = dist(løper['dist'], 5.5, løper['freq'])

In [380]:
gir = nb.frame({'freq': frq, 'doc':doc, 'dist':dst}).transpose()

In [381]:
gir['score'] = dist(gir['dist'], 5.5, gir['freq'])

In [391]:
løper.sort_values(by='score').loc['. , ! ?'.split()]

       dist     doc     freq     score
.  5.902288  2126.0  16464.0  5.902264
,  5.477862  1868.0   9408.0  5.477864
!  5.812847   527.0    346.0  5.811943
?  5.281099   324.0    449.0  5.281586

In [394]:
løper.sort_values(by='score').loc['hjem ut inn inne ute hjemme han hun'.split()]

            dist    doc    freq     score
hjem    4.129333   22.0    64.0  4.150750
ut      2.003304  505.0  3013.0  2.004464
inn     3.441989  176.0   676.0  3.445033
inne    6.489167   32.0    44.0  6.466686
ute     4.848765   26.0    63.0  4.859102
hjemme  6.429167   21.0    34.0  6.401838
han     5.218569  475.0  1398.0  5.218770
hun     4.812883  165.0   495.0  4.814271

In [382]:
gir.sort_values(by='score').loc['ham henne deg seg oss'.split()]

           dist     doc    freq     score
ham    2.196565   190.0   223.0  2.211379
henne  1.892842   101.0   118.0  1.923412
deg    1.463751  1138.0  2656.0  1.465270
seg    3.018923   974.0  1520.0  3.020555
oss    2.193006   816.0  1211.0  2.195736

In [406]:
from IPython.display import HTML

In [408]:
html = (gir.sort_values(by='score').loc['han hun jeg du'.split()].style.background_gradient(cmap="Blues_r", axis=0).render())

In [410]:
with open('phtml.html', 'w') as f:
    f.write(html)

In [400]:
%%HTML
'<style  type="text/css" >\n    #T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row0_col0 {\n            background-color:  #fff7fb;\n            color:  #000000;\n        }    #T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row0_col1 {\n            background-color:  #034a74;\n            color:  #f1f1f1;\n        }    #T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row0_col2 {\n            background-color:  #034c78;\n            color:  #f1f1f1;\n        }    #T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row0_col3 {\n            background-color:  #fff7fb;\n            color:  #000000;\n        }    #T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row1_col0 {\n            background-color:  #e0deed;\n            color:  #000000;\n        }    #T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row1_col1 {\n            background-color:  #fff7fb;\n            color:  #000000;\n        }    #T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row1_col2 {\n            background-color:  #fff7fb;\n            color:  #000000;\n        }    #T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row1_col3 {\n            background-color:  #e0deed;\n            color:  #000000;\n        }    #T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row2_col0 {\n            background-color:  #d9d8ea;\n            color:  #000000;\n        }    #T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row2_col1 {\n            background-color:  #abbfdc;\n            color:  #000000;\n        }    #T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row2_col2 {\n            background-color:  #b9c6e0;\n            color:  #000000;\n        }    #T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row2_col3 {\n            background-color:  #d9d8ea;\n            color:  #000000;\n        }    #T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row3_col0 {\n            background-color:  #023858;\n            color:  #f1f1f1;\n        }    #T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row3_col1 {\n            background-color:  #023858;\n            color:  #f1f1f1;\n        }    #T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row3_col2 {\n            background-color:  #023858;\n            color:  #f1f1f1;\n        }    #T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row3_col3 {\n            background-color:  #023858;\n            color:  #f1f1f1;\n        }</style><table id="T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3" ><thead>    <tr>        <th class="blank level0" ></th>        <th class="col_heading level0 col0" >dist</th>        <th class="col_heading level0 col1" >doc</th>        <th class="col_heading level0 col2" >freq</th>        <th class="col_heading level0 col3" >score</th>    </tr></thead><tbody>\n                <tr>\n                        <th id="T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3level0_row0" class="row_heading level0 row0" >han</th>\n                        <td id="T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row0_col0" class="data row0 col0" >5.31548</td>\n                        <td id="T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row0_col1" class="data row0 col1" >475</td>\n                        <td id="T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row0_col2" class="data row0 col2" >643</td>\n                        <td id="T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row0_col3" class="data row0 col3" >5.31576</td>\n            </tr>\n            <tr>\n                        <th id="T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3level0_row1" class="row_heading level0 row1" >hun</th>\n                        <td id="T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row1_col0" class="data row1 col0" >5.52649</td>\n                        <td id="T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row1_col1" class="data row1 col1" >165</td>\n                        <td id="T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row1_col2" class="data row1 col2" >195</td>\n                        <td id="T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row1_col3" class="data row1 col3" >5.52636</td>\n            </tr>\n            <tr>\n                        <th id="T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3level0_row2" class="row_heading level0 row2" >jeg</th>\n                        <td id="T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row2_col0" class="data row2 col0" >5.56644</td>\n                        <td id="T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row2_col1" class="data row2 col1" >285</td>\n                        <td id="T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row2_col2" class="data row2 col2" >349</td>\n                        <td id="T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row2_col3" class="data row2 col3" >5.56625</td>\n            </tr>\n            <tr>\n                        <th id="T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3level0_row3" class="row_heading level0 row3" >du</th>\n                        <td id="T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row3_col0" class="data row3 col0" >6.49538</td>\n                        <td id="T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row3_col1" class="data row3 col1" >498</td>\n                        <td id="T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row3_col2" class="data row3 col2" >680</td>\n                        <td id="T_e24bfa10_f4ee_11e9_b60d_a0a4c554f2a3row3_col3" class="data row3 col3" >6.49391</td>\n            </tr>\n    </tbody></table>'
%%HTML

In [383]:
gir.sort_values(by='score').loc['til med for'.split()]

         dist     doc    freq     score
til  4.683373  1783.0  6099.0  4.683507
med  6.525969  1122.0  1991.0  6.525454
for  4.663057  1666.0  4867.0  4.663229

In [385]:
gir.sort_values(by='score').loc['penger hodepine gaver'.split()]

              dist    doc   freq     score
penger    4.152833  151.0  160.0  4.161252
hodepine  3.388889   10.0   10.0  3.600000
gaver     6.500000    4.0    4.0  6.250000

In [386]:
gir.sort_values(by='score').loc['. , ! ?'.split()]

       dist     doc     freq     score
.  6.059617  2126.0  17043.0  6.059585
,  5.951502  1868.0   9398.0  5.951454
!  5.738498   527.0    709.0  5.738162
?  6.160372   324.0    398.0  6.158713

In [2]:
corpus = nb.book_corpus(title="harry potter%")

In [3]:
corpus

              urn         author                               title  year
0   2014080508099  Rowling, J.K.                        Harry Potter  2011
1   2016082408047  Rowling, J.K.  Harry Potter og fangen fra Azkaban  2005
2   2013061108157  Rowling, J.K.                    Harry Potter 1-4  2001
3   2014061838001  Rowling, J.K.                        Harry Potter  2011
4   2014080508046  Rowling, J.K.                    Harry Potter 1-4  2001
5   2008102200061  Rowling, J.K.    Harry Potter og mysteriekammeret  2000
6   2013062608004  Rowling, J.K.    Harry Potter og halvblodsprinsen  2008
7   2011062705065  Rowling, J.K.    Harry Potter og mysteriekammeret  2003
8   2008090504071  Rowling, J.K.      Harry Potter og de vises stein  1999
9   2014073106069                         Harry Potter og ildbegeret  2005
10  2014091938003  Rowling, J.K.                        Harry Potter  2011
11  2014030406051  Rowling, J.K.    Harry Potter og mysteriekammeret  2011
12  2012111406120  Rowling, J.K.       Harry Potter og Føniksordenen  2011
13  2013061905063  Rowling, J.K.     Harry Potter og dødstalismanene  2007
14  2013072208063  Rowling, J.K.  Harry Potter og fangen fra Azkaban  2011
15  2013120238034  Rowling, J.K.    Harry Potter og halvblodsprinsen  2005
16  2014022806023  Rowling, J.K.      Harry Potter og de vises stein  2011
17  2008112800001  Rowling, J.K.          Harry Potter og ildbegeret  2001
18  2009012804020  Rowling, J.K.    Harry Potter og mysteriekammeret  2002
19  2013082708159  Rowling, J.K.      Harry Potter og de vises stein  2009

In [19]:
nb.pure_urn(corpus)

['2014080508099',
 '2016082408047',
 '2013061108157',
 '2014061838001',
 '2014080508046',
 '2008102200061',
 '2013062608004',
 '2011062705065',
 '2008090504071',
 '2014073106069',
 '2014091938003',
 '2014030406051',
 '2012111406120',
 '2013061905063',
 '2013072208063',
 '2013120238034',
 '2014022806023',
 '2008112800001',
 '2009012804020',
 '2013082708159']

In [375]:
def dist(obs_mean, expected, freq):
    factor = ((freq-1)/(freq))*obs_mean
    ratio = obs_mean/(obs_mean - factor)
    return obs_mean + (expected - obs_mean)/ratio

In [287]:
colls = dict()
for character in "Harry Hermine Humlesnurr Ronny Malfang Slur Gygrid".split():
    colls[character] = urn_coll(character, nb.pure_urn(corpus), before=0, after=10)

In [289]:
frames = dict()
for c in colls:
    frames[c] = nb.frame({'dist':colls[c][1], 'freq':colls[c][0]}).transpose()

In [291]:
for c in frames:
    frames[c]['score'] = dist(frames[c].dist, 5.5, frames[c].freq)

In [301]:
inspect = lambda harry, w: harry.loc[w]

In [314]:
for c in frames:
    print(c, inspect(frames[c]['score'], '.'))

Harry 4.817242112784796
Hermine 4.293839595275936
Humlesnurr 4.454127338628608
Ronny 4.4836871469082
Malfang 4.987145731343453
Slur 4.9554733012878085
Gygrid 4.751209768948576

In [315]:
for c in frames:
    print(c, inspect(frames[c]['score'], ','))

Harry 5.1199713459743
Hermine 5.217811002361413
Humlesnurr 5.0002832234720245
Ronny 5.16845394764243
Malfang 4.749445433099134
Slur 5.095678567808362
Gygrid 4.67481906156315

In [320]:
def check(word):
    return {c:inspect(frames[c]['score'], word) for c in frames if word in frames[c].index}

In [321]:
check ('måpte')

{'Hermine': 1.9,
 'Humlesnurr': 3.625,
 'Ronny': 1.5625,
 'Malfang': 3.863095238095238,
 'Slur': 3.25}

In [323]:
check ('lengsel')

{'Gygrid': 5.5}

In [324]:
check ('.')

{'Harry': 4.817242112784796,
 'Hermine': 4.293839595275936,
 'Humlesnurr': 4.454127338628608,
 'Ronny': 4.4836871469082,
 'Malfang': 4.987145731343453,
 'Slur': 4.9554733012878085,
 'Gygrid': 4.751209768948576}

In [325]:
check ('slo')

{'Harry': 5.125,
 'Hermine': 5.8589743589743595,
 'Humlesnurr': 5.74,
 'Ronny': 2.35,
 'Malfang': 6.554166666666666,
 'Slur': 3.0974025974025974,
 'Gygrid': 2.878846153846154}

In [327]:
check ('sint')

{'Harry': 5.5,
 'Humlesnurr': 4.048611111111111,
 'Malfang': 4.888516746411484,
 'Slur': 5.41,
 'Gygrid': 4.664285714285714}

In [332]:
check('bistert')

{'Harry': 1.6499999999999997,
 'Hermine': 1.45,
 'Humlesnurr': 4.25,
 'Ronny': 8.125,
 'Slur': 5.5,
 'Gygrid': 2.125}

In [343]:
show = lambda harry, cutoff: harry[harry.freq > cutoff].sort_values(by='score')

In [344]:
show(frames['Harry'][frames['Harry']['dist']> 8], 5)[:20]

                       dist  freq     score
ansiktsuttrykkene  8.071429   8.0  7.750000
dukke              8.125000   7.0  7.750000
TAPTE              8.250000   6.0  7.791667
2                  8.187500   7.0  7.803571
gammel             8.100000   9.0  7.811111
$                  8.187500   8.0  7.851562
berg               8.071429  12.0  7.857143
blinkende          8.333333   6.0  7.861111
Lykke              8.333333   6.0  7.861111
Laget              8.333333   6.0  7.861111
byksende           8.285714   7.0  7.887755
anledning          8.090909  13.0  7.891608
Nicolas            8.066667  15.0  7.895556
2000               8.111111  13.0  7.910256
advarsel           8.222222   9.0  7.919753
avbrutt            8.222222   9.0  7.919753
Tro                8.187500  11.0  7.943182
blunke             8.074074  21.0  7.951499
Gurgel             8.030702  52.0  7.982034
Hiet               8.285714  10.0  8.007143

In [300]:
inspect(frames['Humlesnurr'], 'Ronny')

dist      6.193484
freq     88.000000
score     6.185603
Name: Ronny, dtype: float64